* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

html body {
  background-color: black;
  font-family: 'Josefin Sans';
  color: beige;
  scroll-behavior: smooth;
}

html body header {
  height: 100vh;
  text-align: center;
  -webkit-animation: fontColor 2s ease-in 1;
          animation: fontColor 2s ease-in 1;
  background-color: black;
  border-bottom: solid 1px #222222;
}

html body header .headerWrap {
  padding-top: 26vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  z-index: 3;
}

html body header .headerWrap p:first-of-type {
  letter-spacing: 0.3vw;
  margin-left: 0.7vh;
  z-index: 3;
}

html body header .headerWrap p:nth-of-type(2) {
  letter-spacing: 0.32vw;
}

html body header .headerWrap p:nth-of-type(3) {
  letter-spacing: 0.25vw;
  margin-top: 2vh;
}

html body header .headerWrap .underline, html body header .headerWrap .underlineCover {
  position: absolute;
  margin-right: 0.25vw;
  height: 0;
  background-color: black;
  border-bottom: solid 1px beige;
  -webkit-animation: borderColor 4s ease-in 1;
          animation: borderColor 4s ease-in 1;
  z-index: -1;
}

html body header .headerWrap .underlineCover {
  width: 100vw;
  border-bottom: solid 1px black;
  -webkit-animation: coverColor 3s ease-in 1s forwards;
          animation: coverColor 3s ease-in 1s forwards;
}

html body header .adress {
  position: absolute;
  margin: 53vh 0 0 42vw;
  font-size: 2vh;
  letter-spacing: 4px;
}

html body header .headerP {
  -webkit-transition: 1s;
  transition: 1s;
  width: 8vw;
  height: 5vh;
  font-size: 2.6vh;
  color: beige;
  position: fixed;
  left: 91vw;
  padding-top: 0.3vh;
  line-height: 5vh;
  font-weight: bold;
  border: solid 1px #999999;
  text-align: center;
  z-index: 3;
}

html body header .headerP:hover {
  cursor: pointer;
  color: orchid;
  border: solid 1px #B51FAD;
}

html body header .headerP1 {
  top: 3vh;
}

html body header .headerP2 {
  top: 9vh;
}

html body header .headerP3 {
  top: 15vh;
}

html body header .headerCover {
  position: absolute;
  width: 20vw;
  height: 100vh;
  background-color: black;
  z-index: 3;
}

html body header .headerCover2 {
  position: absolute;
  left: 60vw;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
}

html body header .navBorder {
  position: absolute;
  top: 80vh;
  right: 0;
  width: 1px;
  height: 20vh;
  background-color: black;
  z-index: 4;
}

html body nav {
  position: absolute;
  top: 79.4vh;
  left: -100%;
  background-color: black;
  z-index: 3;
  -webkit-animation: navToRight 2s linear forwards;
          animation: navToRight 2s linear forwards;
}

html body nav ul {
  width: 100vw;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  letter-spacing: 3px;
}

html body nav li {
  padding-top: 0.5vh;
  width: calc(100vw/6);
  float: left;
  border-right: solid 1px #222222;
  border-top: solid 1px #222222;
}

html body nav li:hover {
  cursor: pointer;
  color: orchid;
}

html body #section1, html body #section2 {
  height: 100vh;
  border-bottom: solid 1px #222222;
  border-top: solid 1px #222222;
}

html body #section1 .symbol1, html body #section1 .symbol2, html body #section2 .symbol1, html body #section2 .symbol2 {
  width: 8vw;
  height: auto;
  position: absolute;
  top: 101.9vh;
  left: 4vh;
  opacity: 0.6;
}

html body #section1 .left, html body #section2 .left {
  width: 12%;
  height: 100%;
  float: left;
  background-color: black;
  border-right: solid 1px #222222;
}

html body #section1 .left .symbol, html body #section2 .left .symbol {
  position: fixed;
  top: 0;
  left: 0;
  height: 20%;
  width: 12%;
  z-index: 2;
}

html body #section1 .left .map, html body #section2 .left .map {
  position: fixed;
  top: 20vh;
  height: 66%;
  width: 12%;
  text-align: center;
  padding-top: 1%;
}

html body #section1 .left .map .mapNav, html body #section2 .left .map .mapNav {
  float: left;
  width: 10%;
  height: 97%;
}

html body #section1 .left .map .mapNav div, html body #section2 .left .map .mapNav div {
  width: 1.1vw;
  height: 5vh;
  background-color: #F018E6;
  opacity: .6;
  margin-bottom: 6.5vh;
  margin-left: 0.5vw;
}

html body #section1 .left .map .mapNavBorders, html body #section2 .left .map .mapNavBorders {
  position: fixed;
  left: 0.5vw;
  height: 62.5%;
  width: 1.1vw;
  z-index: 1;
}

html body #section1 .left .map .mapNavBorders div, html body #section2 .left .map .mapNavBorders div {
  height: 5vh;
  margin-bottom: 6.5vh;
  border: solid 1px #555555;
}

html body #section1 .left .map .mapP p, html body #section2 .left .map .mapP p {
  width: 70%;
  height: 5vh;
  font-size: 2.6vh;
  color: beige;
  margin-bottom: 6.5vh;
  margin-left: 2.6vw;
  padding-top: 0.3vh;
  line-height: 5vh;
  font-weight: bold;
  border: solid 1px #555555;
  -webkit-transition: 2s;
  transition: 2s;
}

html body #section1 .left .map .mapP p:hover, html body #section2 .left .map .mapP p:hover {
  cursor: pointer;
  color: orchid;
}

html body #section1 .left .map .filler, html body #section1 .left .map .filler2, html body #section2 .left .map .filler, html body #section2 .left .map .filler2 {
  position: absolute;
  top: 10vh;
  left: 0.55vw;
  width: 0.99vw;
  background-color: black;
  height: 86%;
  -webkit-transition: top 2s;
  transition: top 2s;
}

html body #section1 .left .map .filler2, html body #section2 .left .map .filler2 {
  top: -55vh;
}

html body #section1 .left .logo, html body #section2 .left .logo {
  position: fixed;
  top: 86vh;
  height: 14%;
  width: 12%;
  border-top: solid 1px #222222;
}

html body #section1 .left .logo img, html body #section2 .left .logo img {
  width: 80%;
  height: 80%;
  margin: 6% 10%;
}

html body #section1 .center, html body #section2 .center {
  width: 50%;
  height: 100%;
  float: left;
}

html body #section1 .center .sectionHead, html body #section2 .center .sectionHead {
  position: absolute;
  left: 0;
  width: 62%;
  height: 20%;
  padding-left: 12%;
  border-bottom: solid 1px #222222;
}

html body #section1 .center .sectionHead p, html body #section2 .center .sectionHead p {
  margin-top: 4%;
  font-size: 12vh;
  letter-spacing: 0.6vw;
  text-align: center;
}

html body #section1 .center .sectionWrap1, html body #section1 .center .sectionWrap2, html body #section2 .center .sectionWrap1, html body #section2 .center .sectionWrap2 {
  margin-top: 20vh;
  width: 50%;
  height: 80vh;
  float: left;
}

html body #section1 .center .sectionWrap1 h1, html body #section1 .center .sectionWrap2 h1, html body #section2 .center .sectionWrap1 h1, html body #section2 .center .sectionWrap2 h1 {
  padding: 5vh 0 5vh 4vw;
}

html body #section1 .center .sectionWrap1 p, html body #section1 .center .sectionWrap2 p, html body #section2 .center .sectionWrap1 p, html body #section2 .center .sectionWrap2 p {
  padding: 0 3vw 3vh;
  font-size: 3vh;
}

html body #section1 .center .sectionWrap2, html body #section2 .center .sectionWrap2 {
  border-left: solid 1px #222222;
}

html body #section1 .right, html body #section2 .right {
  width: 38%;
  height: 100%;
  float: left;
  border-left: solid 1px #333333;
}

html body #section1 .right .sideImg, html body #section2 .right .sideImg {
  position: absolute;
  left: 120vw;
  width: auto;
  height: 100vh;
  opacity: .3;
}

html body #section1 .right .credits1, html body #section1 .right .credits2, html body #section1 .right .credits3, html body #section2 .right .credits1, html body #section2 .right .credits2, html body #section2 .right .credits3 {
  position: absolute;
  width: 65vw;
  height: 2vh;
  top: 193vh;
  left: 63vw;
  background-color: black;
}

html body #section1 .right .credits2, html body #section2 .right .credits2 {
  top: 195vh;
}

html body #section1 .right .credits3, html body #section2 .right .credits3 {
  top: 197vh;
}

html body #section1 #arrow, html body #section2 #arrow {
  position: fixed;
  top: 5%;
  left: 65%;
  color: beige;
  font-size: 4vh;
  border: solid 2px beige;
  padding: 1.2vh 2vh;
  border-radius: 50%;
  z-index: 1;
}

html body #section1 #arrow:hover, html body #section2 #arrow:hover {
  cursor: pointer;
  color: undefined;
}

html body #section2 .symbol2 {
  top: 202.1vh;
}

html body #section2 .center {
  width: 50%;
}

html body #section2 .center .sectionWrap1 {
  width: 100%;
}

html body #section2 .center .sectionWrap1 .container {
  padding-top: 0.5vh;
  height: calc(80vh/5);
  border-bottom: solid 1px #222222;
  line-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #section2 .center .sectionWrap1 .container div {
  font-size: 3vh;
  height: 5vh;
}

html body #section2 .center .sectionWrap1 .container .imgContainerRight {
  width: 90%;
  height: 90%;
  margin: .33vw;
}

html body #section2 .center .sectionWrap1 .container .imgBox {
  margin-bottom: 0.5vh;
  width: 13vh;
  height: 13vh;
  border: solid 1px #222222;
}

html body #section2 .center .sectionWrap1 .container .pointing {
  opacity: .6;
  width: 6vw;
  height: 6vw;
}

html body #section2 .right {
  float: left;
  width: 20%;
}

html body #section2 .right .sideImg {
  position: absolute;
  left: 120vw;
}

@-webkit-keyframes coverColor {
  0% {
    left: 15vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes coverColor {
  0% {
    left: 15vw;
  }
  100% {
    left: 100vw;
  }
}

@-webkit-keyframes fontColor {
  0% {
    color: black;
  }
  100% {
    color: beige;
  }
}

@keyframes fontColor {
  0% {
    color: black;
  }
  100% {
    color: beige;
  }
}

@-webkit-keyframes navToRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes navToRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media (max-height: 500px) {
  .headerWrap p:first-of-type {
    font-size: 6.5vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.1vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 1vw;
  }
  .underline, .underlineCover {
    width: 25.5vw;
  }
  ul {
    font-size: 5vh;
  }
}

@media (min-width: 1025px) and (max-height: 460px) and (max-width: 1150px) and (min-height: 300px) {
  .headerWrap p:first-of-type {
    font-size: 8vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.7vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 1.1vw;
  }
  .underline, .underlineCover {
    width: 31.3vw;
  }
  ul {
    font-size: 5vh;
  }
}

@media (min-width: 1025px) and (min-height: 460px) {
  .headerWrap p:first-of-type {
    font-size: 8vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.7vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 1.1vw;
  }
  .underline, .underlineCover {
    width: 31.3vw;
  }
  ul {
    font-size: 4vh;
  }
}

@media (max-width: 1280px) and (min-height: 580px) and (min-width: 1025px) {
  .headerWrap p:first-of-type {
    font-size: 8vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.7vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 1.3vw;
  }
  .underline, .underlineCover {
    width: 31.3vw;
  }
  ul {
    font-size: 3.3vh;
  }
}

@media (min-width: 1270px) and (min-height: 310px) {
  .headerWrap p:first-of-type {
    font-size: 6vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 1.8vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 0.9vw;
  }
  .underline, .underlineCover {
    width: 23.5vw;
  }
  ul {
    font-size: 6vh;
  }
}

@media (min-width: 1270px) and (min-height: 400px) {
  .headerWrap p:first-of-type {
    font-size: 8vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.7vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 1.2vw;
  }
  .underline, .underlineCover {
    width: 31.3vw;
  }
  ul {
    font-size: 5vh;
  }
}

@media (min-width: 1270px) and (min-height: 510px) {
  .headerWrap p:first-of-type {
    font-size: 8vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.7vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 1vw;
  }
  .underline, .underlineCover {
    width: 31.3vw;
  }
  ul {
    font-size: 3.5vh;
  }
}

@media (min-width: 1500px) and (min-height: 640px) {
  .headerWrap p:first-of-type {
    font-size: 6.5vw;
  }
  .headerWrap p:nth-of-type(2) {
    font-size: 2.1vw;
  }
  .headerWrap p:nth-of-type(3) {
    font-size: 0.9vw;
  }
  .underline, .underlineCover {
    width: 26vw;
  }
  ul {
    font-size: 3.5vh;
  }
}
/*# sourceMappingURL=style.css.map */