
=pStyle($left, $right, $width, $height, $fontSize, $color, $lineHeight, $letterSpacing, $margin)
    left: $left
    right: $right
    width: $width
    height: $height
    font-size: $fontSize
    color: $color
    line-height: $lineHeight
    letter-spacing: $letterSpacing
    margin: $margin
=hover($color)
    cursor: pointer
    color: $color
=mediaUl($height, $fontSize, $lineHeight, $letterSpacing)
    height: $height
    font-size: $fontSize
    line-height: $lineHeight
    letter-spacing: $letterSpacing

